<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
  </head>
<body>
  <div class="wrapper">
    <h2>Login</h2><br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'signin' %}" method="POST">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" placeholder="Create a username" required name="username">
      </div>
      <div class="input-box">
        <input type="password" placeholder="Enter your password" required name="password">
      </div>
      <div class="policy">
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login">
      </div>
      <div class="text">
        <h3>New User?<a href="{% url 'signup' %}"> Signup</a></h3>
      </div>
    </form>
  </div>
</body>
</html>